.container-dialog-create-room {
    display: flex;
    flex-wrap: wrap;
    width: 370px;
    border: 5px solid black; /* Specify the border width and style */
  }
  

.form-create-room {
    margin: 10px;

}