.counter-container {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 90px;
  clip-path: polygon(5% 0, 95% 10%, 100% 93%, 0% 100%);  
}

  
  
  .counter-text {
    color: white;
    font-family: "Axiforma Heavy", sans-serif;
    font-size: 40px;
  }
  