.container-menu-lobby{
    display: grid;
    grid-template-columns: 50% 50%;
    //height: 20vh;
    background: url('../../assets/Home\ Background.png') no-repeat center center fixed !important;
}
.container-room-lobby{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin: 20px;
}
.button-create{
    background-image: url('../../assets/CreateRoom.jpg');
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    border-radius: 0;
}
p{
    font-weight: 750;
    font-size: 20px;
    padding: 0;
    margin: 0;
}