.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    //background: url('../../assets/Home Background.png') no-repeat center center fixed !important;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    position: absolute;
    //background-size: cover;
    //background-position: center;
  }
.card-login{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.card-login > *:not(:last-child) {
    margin-bottom: 10%; /* Adjust the margin as per your preference */
  }

  .custom-button {
    width: 200px;
    height: 50px;
    color: white;
    border: none;
    border-radius: 0;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &:hover {
      opacity: 0.8;
    }
  }