.container-start-game{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url('../src/assets/Game Background.png');
    background-size: 100% 100%; /* Updated background-size property */
    background-repeat: no-repeat;
    background-position: 25% 10%;
    overflow: hidden; /* Added overflow property */
}
