
.selectable-card {
transition: transform 1s; /* Agrega transición para suavizar el efecto de volteo */
  transform-style: preserve-3d
}
.selectable-card.selected {
    background-color: black; /* Color de fondo cuando está seleccionada */
    box-shadow: 0px 0px 5x #007bff; /* Sombra cuando está seleccionada */
  }

  .selectable-card.rotate {
    transform: rotateY(360deg);
  }