
.selectable-card { /* Agrega transición para suavizar el efecto de volteo */
  transform-style: preserve-3d;
  cursor: pointer;
}
.selectable-card.selected {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.9);
  }

  .selectable-card.rotate {
    transform: rotateY(360deg);
  }