.container-room {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url('../../assets/Game Background.png');
    background-size: 100% 100%; /* Updated background-size property */
    background-repeat: no-repeat;
    background-position: 25% 10%;
    overflow: hidden; /* Added overflow property */
}

.container-slot-player {
    margin: calc(5vw + 20px); /* Responsive margin using calc() function */
    position: fixed;
    top: 100px; /* Adjust the top position as per your requirement */
    left: 0;
  }
  
  .table {
    display: table;
    border-collapse: collapse;
    width: fit-content; /* Adjusts width to the content */
    margin: 0 auto; /* Centers the table horizontally */
  }
  
  .table-row {
    display: table-row;
  }
  
  .table-cell {
    display: table-cell;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.2); /* Background color with low opacity */
    border-radius: 10px; /* Rounded corners */
    width: 350px; /* Fixed width */
  }
  
  
  
.container-buttons{
    display: flex;
    margin-top: auto;
    justify-content: center;
}

.custom-button {
    width: 200px;
    height: 50px;
    color: white;
    border: none;
    border-radius: 0;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &:hover {
      opacity: 0.8;
    }
  }


  .right-center-div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px; /* Adjust the distance from the right side */
    width: 200px; /* Adjust the width as needed */
    height: 200px; /* Adjust the height as needed */
    background-color: black;
    margin-right: calc(10vw + 20px);
  }
  