@import url("../../fonts.css");

.player-name {
  font-family: "Axiforma Heavy";
}

.slot-player{
    display: flex;
    align-items: stretch;
    height: 200px;
    background-color: gray;
    margin: 20px;
}
.card-img-top{
    width: 200px;
    height: 100%;
}
.card-body{
    margin: 15px;
}