.card-room-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
  transition: 0.5s ease;
  cursor: pointer;
}
.card-hero {
  margin: 30px;
  background-color: blueviolet;
}
.card-room-item:hover {
  transform: scale(1, 1.1);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}
// const style = {
//     border: '2px solid #000',
//     boxShadow: 24,
//     p: 4,
//   };
